@model ForekBase.Web.ViewModels.PostVM
@using ForekBase.Domain.Entities.Enums

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/utility/assets/css/post/StylePost.css" />
    <link rel="stylesheet" href="~/utility/assets/css/RichText/Style.css" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
</head>

<body>
    <!-------------------------------------------Sidebar------------------------------------------------------------------->
    <div class="wrapper">
        <aside id="sidebar" class="js-sidebar">
            <!-- Content For Sidebar -->
            <div class="h-100">
                <div class="sidebar-logo">
                    <a href="#">The people's eye</a>
                </div>
                <ul class="sidebar-nav">

                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="fa-solid fa-list pe-2"></i>
                            Dashboard
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-target="#multi" data-bs-toggle="collapse"
                           aria-expanded="false">
                            <i class="fa-solid fa-book"></i>
                            Post
                        </a>
                        <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="@Url.Action("OnGetAllPosts", "Post")" class="sidebar-link">All Posts</a>
                                <a href="@Url.Action("OnCreatePost", "Post")" class="sidebar-link">Create New Post</a>
                            </li>
                        </ul>
                    </li>

                    @* <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-target="#pages" data-bs-toggle="collapse"
                           aria-expanded="false">
                            <i class="fa-solid fa-file-lines pe-2"></i>
                            News Categories
                        </a>
                        <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Politics</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Sports</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Science</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Trending</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Local</a>
                            </li>
                        </ul>
                    </li> *@


                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-target="#posts" data-bs-toggle="collapse"
                           aria-expanded="false">
                            <i class="fa-solid fa-sliders pe-2"></i>
                            Statistics
                        </a>
                        <ul id="posts" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">subscribers</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Ad feedbacks</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">User engagement</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Traffic overview</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-target="#auth" data-bs-toggle="collapse"
                           aria-expanded="false">
                            <i class="fa-regular fa-user pe-2"></i>
                            Auth
                        </a>
                        <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Login</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Register</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Forgot Password</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </aside>
        <!---------------------------------------------------End of sidebar----------------------------------------------------->
        <!---------------------------------------------------Begining of the body----------------------------------------------------->
        <div class="main">
            <nav class="navbar navbar-expand px-3 border-bottom">
                <button class="btn" id="sidebar-toggle" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                                <img src="image/profile.jpg" class="avatar img-fluid rounded" alt="">
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="#" class="dropdown-item">Profile</a>
                                <a href="#" class="dropdown-item">Setting</a>
                                <a href="#" class="dropdown-item">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="content px-3 py-2">
                <div class="container-fluid">
                    <div class="mb-3">
                        <h4>Update Post</h4>
                    </div>

                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#publishModal">
                        Publish
                    </button>

                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Delete
                    </button>
                    <!-- Table Element -->

                    <form asp-action="OnUpdatePost" enctype="multipart/form-data">
                        <div class="container mt-5">
                            <div class="row">
                                <!-- Left Column -->
                                <div class="col-md-12 ">
                                    <!-- Image Upload Box -->
                                    <div class="card text-wrap:normal">
                                        <div class="card-body">
                                            <h5 class="card-title">Upload Image</h5>
                                            <!-- Your image upload form or input can go here -->

                                            <input asp-for="PostId" hidden />

                                            <input asp-for="CreatedBy" hidden />

                                            <input asp-for="CreatedOn" hidden />

                                            <input asp-for="FirstFile"  accept="image/*,.pdf" class="form-control border-0 shadow mb-2" onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])" />

                                            <h5 class="card-title">Image Description</h5>

                                            <input type="text" asp-for="ImageDescription_1"  class="form-control mb-2" placeholder="Image Description">

                                            <h5 class="card-title">Image Source</h5>

                                            <input type="text" asp-for="ImageSource_1"  class="form-control mb-2" placeholder="Image Source">


                                            <br />

                                            <h6 class="card-title text-danger">Do you want to add more file(s)?</h6>

                                            <div class="row mt-4">

                                                <div class="input-group mb-3 input1">
                                                    <div class="form-check">
                                                        <label class="form-check-label" for="isFileYes">Yes</label>

                                                        <input type="radio" asp-for="IsAddFile" class="form-check-input m-1" value="true" id="isFileYes" required />

                                                    </div>
                                                    <div class="form-check">
                                                        <label class="form-check-label" for="isFileNo">No</label>
                                                        <input type="radio" asp-for="IsAddFile" class="form-check-input m-1" value="false" id="isFileNo" required />

                                                    </div>
                                                </div>
                                            </div>

                                            <div id="newFile">

                                                <input asp-for="SecondFile" accept="image/*,.pdf" class="form-control border-0 shadow mb-2" onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])" />

                                                <h5 class="card-title">Image Description</h5>

                                                <input type="text" asp-for="ImageDescription_2" class="form-control mb-2" placeholder="Image Description">

                                                <h5 class="card-title">Image Source</h5>

                                                <input type="text" asp-for="ImageSource_2" class="form-control mb-2" placeholder="Image Source">

                                                <hr />

                                                <input asp-for="ThirdFile" accept="image/*,.pdf" class="form-control border-0 shadow mb-2" onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])" />

                                                <h5 class="card-title">Image Description</h5>

                                                <input type="text" asp-for="ImageDescription_3" class="form-control mb-2" placeholder="Image Description">

                                                <h5 class="card-title">Image Source</h5>

                                                <input type="text" asp-for="ImageSource_3" class="form-control mb-2" placeholder="Image Source">


                                            </div>

                                            <br />

                                            <h5 class="card-title">Category</h5>

                                            <select asp-for="Category" class="form-control Type" asp-items="Html.GetEnumSelectList<eCategory>()">
                                                <option selected="selected" disabled value="">--Select--</option>
                                            </select>

                                            <br />
                                            <!-- Text Boxes for Story -->
                                            <h5 class="card-title">Title</h5>
                                            <input type="text" asp-for="Title"  class="form-control mb-2" placeholder="News Title">

                                            <h5 class="card-title">Block Quote</h5>
                                            <textarea asp-for="BlockQuote" class="form-control mb-2" placeholder="Block Quote"></textarea>

                                            <h5 class="card-title">Article</h5>

                                            <textarea id="mytextarea" asp-for="Description" name="Description" class="form-control mb-2" placeholder="Article"></textarea>

                                           
                                        </div>
                                    </div>

                                </div>


                                <div class="col-md-4">
                                    <div class="card mb-3 body">
                                        <div class="card-body mb-4">
                                            <img id="output" src="~/Docs/@Model.FirstFile" class="form-control" />
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-4">
                                    <div class="card mb-3 body">
                                        <div class="card-body mb-4">
                                            <img id="output" src="~/Docs/@Model.SecondFile" class="form-control" />
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-4">
                                    <div class="card mb-3 body">
                                        <div class="card-body mb-4">
                                            <img id="output" src="~/Docs/@Model.ThirdFile" class="form-control" />
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="form-group col-md-12 mt-1">
                                <button type="submit" onclick="getContent();" class="btn btn-success save"><i class="fa fa-save"></i>Update</button>
                                <a class="btn btn-outline-danger float-end" asp-action="Index" asp-controller="Home"><i class="fa fa-window-close"></i> Exit</a>
                            </div>

                        </div>
                    </form>
                    
                </div>
            </main>
            <a href="#" class="theme-toggle">
                <i class="fa-regular fa-moon"></i>
                <i class="fa-regular fa-sun"></i>
            </a>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-6 text-start">
                            <p class="mb-0">
                                <a href="#" class="text-muted">
                                    <strong>The people's eye</strong>
                                </a>
                            </p>
                        </div>
                        <div class="col-6 text-end">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="#" class="text-muted">Contact</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="text-muted">About Us</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="text-muted">Terms</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>



    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are sure you want to delete this post?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="@Url.Action("OnRemovePost", "Post", new { PostId = @Model.PostId})" class="btn btn-danger ">
                        <span><i class="fa bi-folder2-open"></i>Delete</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="publishModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Publish Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are sure you want to publish this post?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="@Url.Action("OnPublishPost", "Post", new { PostId = @Model.PostId})" class="btn btn-danger ">
                        <span><i class="fa bi-folder2-open"></i>Publish</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/utility/assets/js/post/post.js"></script>
    <script src="https://kit.fontawesome.com/ae3393d1fa.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="~/utility/assets/js/RichText/Index.js"></script>

    <script src="https://cdn.tiny.cloud/1/cqjmaf90tbpe67jvb5m5pnc6qndbmyq6ozddc2ydwwsck4s2/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        tinymce.init({
            selector: '#mytextarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount linkchecker',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>

    <script type="text/javascript">

        const isFileNo = document.getElementById('isFileNo');
        const isFileYes = document.getElementById('isFileYes');
        const newFile = document.getElementById('newFile');

        isFileNo.addEventListener('change', function () {
            newFile.style.display = this.checked ? 'none' : 'block';
        });

        isFileYes.addEventListener('change', function () {
            newFile.style.display = this.checked ? 'block' : 'none';
        });


        $(document).ready(function () {
            $('.slider').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 5000,
            });
        });
    </script>
</body>

</html>

