@model ForekBase.Web.ViewModels.PostVM
@using ForekBase.Domain.Entities.Enums

        <section id="newsSection">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="latest_newsarea">
                        <span>Latest News</span>
                <ul id="ticker01" class="news_sticker">
                    @foreach (var post in Model.AllPosts)
                    {
                        <li><a href="@Url.Action("OnGetPostPublic", "Post", new { PostId = post.PostId})"><img src="~/Docs/@post.FirstFile" alt="">@post.Title</a></li>
                    }
                </ul>
                        <div class="social_area">
                            <ul class="social_nav">
                                <li class="facebook"><a href="#"></a></li>
                                <li class="twitter"><a href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="contentSection">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="left_content">
                        <div class="contact_area">
                            <h2>Contact Us</h2>
                            <!-- <p> </p> -->
                            <form action="#" class="contact_form">
                                <input class="form-control" type="text" placeholder="Name*">
                                <input class="form-control" type="email" placeholder="Email*">
                                <textarea class="form-control" cols="30" rows="10" placeholder="Message*"></textarea>
                                <input type="submit" value="Send Message">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <aside class="right_content">
                        <div class="single_sidebar">
                            <h2><span>Popular Post</span></h2>
                            <ul class="spost_nav">

                        <li>
                            @if (Model.AllPosts.Any())
                            {
                                var latestPosts = Model.AllPosts.Take(5);

                                foreach (var latestpost in latestPosts)
                                {
                                    <div class="media">
                                        <a href="@Url.Action("OnGetPostPublic", "Post", new { PostId = latestpost.PostId })" class="media-left">
                                            <img alt="" src="~/Docs/@latestpost.FirstFile">
                                        </a>

                                        <div class="media-body">
                                            <a href="@Url.Action("OnGetPostPublic", "Post", new { PostId = latestpost.PostId })">@latestpost.Title</a>
                                        </div>
                                    </div>

                                }
                            }
                            else
                            {
                                <p>No posts available.</p>
                            }
                        </li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </section>
