@model ForekBase.Web.ViewModels.PostVM
@using ForekBase.Domain.Entities.Enums

<section id="newsSection">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="latest_newsarea">
                <span>Latest News</span>
                <ul id="ticker01" class="news_sticker">
                    @foreach (var post in Model.AllPosts.Where(p => p.IsActive == true))
                    {
                        <li>
                            <a href="@Url.Action("OnGetPostPublic", "Post", new { PostId = post.PostId})">
                                <img alt="Post Picture" src="~/Docs/@post.FirstFile"><span class="overlay"></span>
                                @post.Title
                            </a>
                        </li>
                    }
                </ul>
                <div class="social_area">
                    <ul class="social_nav">
                        <li class="facebook"><a href="https://www.facebook.com/61556669699132/posts/122098439192222323/?mibextid=rS40aB7S9Ucbxw6v"></a></li>
                        <li class="twitter"><a href="https://twitter.com/peopleseyelive"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="sliderSection">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="slick_slider">
                @foreach (var story in Model.AllPosts.Where(p => p.IsActive == true))
                {
                    <div class="single_iteam">
                        <a href="@Url.Action("OnGetPostPublic", "Post", new { PostId = story.PostId})">
                            <img alt="Post Picture" style="max-width: 100%; height: auto;" src="~/Docs/@story.FirstFile">
                        </a>
                        <div class="slider_article">
                            <h2><a class="slider_tittle" href="@Url.Action("OnGetPostPublic", "Post", new { PostId = story.PostId})">@story.Title</a></h2>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="latest_post">
                <h2><span>Latest posts</span></h2>
                <div class="latest_post_container">

                    <ul>
                        <li>
                            @if (Model.AllPosts.Where(p => p.IsActive == true).Any())
                            {
                                var latestPosts = Model.AllPosts.Where(p => p.IsActive == true).OrderByDescending(p => p.CreatedOn).Take(5);

                                foreach (var latestpost in latestPosts)
                                {
                                    <div class="media">
                                        <a href="@Url.Action("OnGetPostPublic", "Post", new { PostId = latestpost.PostId })" class="media-left">
                                            <img alt="Post Picture" src="~/Docs/@latestpost.FirstFile">
                                        </a>

                                        <div class="media-body">
                                            <a href="@Url.Action("OnGetPostPublic", "Post", new { PostId = latestpost.PostId })">@latestpost.Title</a>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <p>No posts available.</p>
                            }
                        </li>
                    </ul>

                </div>
            </div>
        </div>



    </div>
</section>
<section id="contentSection">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="left_content">
                <div class="single_post_content">
                    <h2><span>Ads</span></h2>
                </div>
                <div class="single_post_content">
                    <h2><span>Business</span></h2>
                    <div class="single_post_content_left">
                        <ul class="business_catgnav  wow fadeInDown">
                            <li>
                                @{
                                    var latestPost = Model.AllPosts.Where(p => p.IsActive == true).OrderByDescending(p => p.CreatedOn)
                                    .FirstOrDefault(p => p.Category == eCategory.Business);
                                }

                                @if (latestPost != null)
                                {
                                    <figure class="bsbig_fig">
                                        <a href="@Url.Action("OnGetPostPublic", "Post", new { PostId = latestPost.PostId })" class="featured_img">
                                            <img alt="Post Picture" src="~/Docs/@latestPost.FirstFile">
                                            <span class="overlay"></span>

                                        </a>
                                        <figcaption> <a href="@Url.Action("OnGetPostPublic", "Post", new { PostId = latestPost.PostId })">@latestPost.Title</a></figcaption>
                                        <p>

                                            @{

                                                var descriptionWords = latestPost.Description.Split(' ');

                                                var shortenedDescription = string.Join(' ', descriptionWords.Take(30));

                                                var finalDescription = $"{(shortenedDescription)}... See more";
                                            }

                                            <a href="@Url.Action("OnGetPostPublic", "Post", new { PostId = latestPost.PostId })">@Html.Raw(@finalDescription)</a>

                                        </p>
                                    </figure>
                                }
                            </li>

                        </ul>
                    </div>
                    <div class="single_post_content_right">
                        <ul class="spost_nav">
                            <li>
                                @foreach (var item in Model.AllPosts.Where(p => p.IsActive == true).Take(4))
                                {
                                    if (item.Category == eCategory.Business)
                                    {
                                        <div class="media wow fadeInDown">
                                            <a href="@Url.Action("OnGetPostPublic", "Post", new { PostId = item.PostId })" class="media-left">
                                                <img alt="" src="~/Docs/@item.FirstFile"> <span class="overlay"></span>
                                            </a>

                                            <div class="media-body"> <a href="@Url.Action("OnGetPostPublic", "Post", new { PostId = item.PostId })" class="catg_title">@item.Title</a></div>

                                        </div>
                                    }
                                }

                            </li>

                        </ul>
                    </div>
                </div>
                <div class="single_post_content">
                    <h2><span>ADS</span></h2>
                </div>
                <div class="fashion_technology_area">
                    <div class="fashion">
                        <div class="single_post_content">
                            <h2><span>Politics</span></h2>
                            <ul class="business_catgnav wow fadeInDown">
                                <li>
                                    @{
                                        var latestPolitics = Model.AllPosts.Where(p => p.IsActive == true).OrderByDescending(p => p.CreatedOn)
                                        .FirstOrDefault(p => p.Category == eCategory.Politics);
                                    }

                                    @if (latestPolitics != null)
                                    {
                                        <figure class="bsbig_fig">
                                            <a href="@Url.Action("OnGetPostPublic", "Post", new { PostId = latestPolitics.PostId })" class="featured_img">
                                                <img alt="Post Picture" src="~/Docs/@latestPolitics.FirstFile"> <span class="overlay"></span>
                                            </a>
                                            <figcaption> <a href="@Url.Action("OnGetPostPublic", "Post", new { PostId = latestPolitics.PostId })">@latestPolitics.Title</a></figcaption>
                                            <p>

                                                @{

                                                    var descriptionWords = latestPolitics.Description.Split(' ');

                                                    var shortenedDescription = string.Join(' ', descriptionWords.Take(30));

                                                    var finalDescription = $"{(shortenedDescription)}... See more";
                                                }

                                                <a href="@Url.Action("OnGetPostPublic", "Post", new { PostId = latestPolitics.PostId })">@Html.Raw(@finalDescription)</a>

                                            </p>
                                        </figure>
                                    }
                                </li>
                            </ul>
                            <ul class="spost_nav">
                                <li>
                                    @foreach (var item in Model.AllPosts.Where(p => p.IsActive == true).Take(4))
                                    {
                                        if (item.Category == eCategory.Politics)
                                        {
                                            <div class="media wow fadeInDown">
                                                <a href="@Url.Action("OnGetPostPublic", "Post", new { PostId = item.PostId })" class="media-left">
                                                    <img alt="Post Picture" src="~/Docs/@item.FirstFile"> <span class="overlay"></span>
                                                </a>

                                                <div class="media-body"> <a href="@Url.Action("OnGetPostPublic", "Post", new { PostId = item.PostId })" class="catg_title">@item.Title</a></div>

                                            </div>
                                        }
                                    }
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="technology">
                        <div class="single_post_content">
                            <h2><span>Sports</span></h2>
                            <ul class="business_catgnav">
                                <li>
                                    @{
                                        var latestSport = Model.AllPosts.Where(p => p.IsActive == true).OrderByDescending(p => p.CreatedOn)
                                        .FirstOrDefault(p => p.Category == eCategory.Sports);
                                    }

                                    @if (latestSport != null)
                                    {
                                        <figure class="bsbig_fig">

                                            <a href="@Url.Action("OnGetPostPublic", "Post", new { PostId = latestSport.PostId })" class="featured_img">
                                                <img alt="Post Picture" src="~/Docs/@latestSport.FirstFile"><span class="overlay"></span>
                                            </a>
                                            <figcaption> <a href="@Url.Action("OnGetPostPublic", "Post", new { PostId = latestSport.PostId })">@latestSport.Title</a></figcaption>
                                            <p>

                                                @{

                                                    var descriptionWords = latestSport.Description.Split(' ');

                                                    var shortenedDescription = string.Join(' ', descriptionWords.Take(30));

                                                    var finalDescription = $"{shortenedDescription}... See more";
                                                }

                                                <a href="@Url.Action("OnGetPostPublic", "Post", new { PostId = latestSport.PostId })">@Html.Raw(@finalDescription)</a>

                                            </p>
                                        </figure>
                                    }
                                </li>
                            </ul>
                            <ul class="spost_nav">
                                <li>
                                    @foreach (var item in Model.AllPosts.Where(p => p.IsActive == true).Take(4))
                                    {
                                        if (item.Category == eCategory.Sports)
                                        {
                                            <div class="media wow fadeInDown">
                                                <a href="@Url.Action("OnGetPostPublic", "Post", new { PostId = item.PostId })" class="media-left">

                                                    <img alt="Post Picture" src="~/Docs/@item.FirstFile">

                                                    <span class="overlay"></span>

                                                </a>

                                                <div class="media-body"> <a href="@Url.Action("OnGetPostPublic", "Post", new { PostId = item.PostId })" class="catg_title">@item.Title</a></div>

                                            </div>
                                        }
                                    }
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <aside class="right_content">
                <div class="latest_post">
                    <h2><span>ADS</span></h2>
                    <ul class="spost_nav">
                        <li>
                            @* @if (Model.AllPosts.Any())
                            {
                            var LatestPosts = Model.AllPosts.Take(5);

                            foreach (var latestPosts in LatestPosts)
                            {
                            <div class="media">
                            <a href="@Url.Action("OnGetPostPublic", "Post", new { PostId = latestPosts.PostId })" class="media-left">
                            <img alt="" src="~/Docs/@latestPosts.PostPicture">
                            </a>

                            <div>

                            @{
                            var titleWords = latestPosts.Title.Split(' ');

                            var shortenedTitle = string.Join(' ', titleWords.Take(3));

                            var finalTitle = $"{shortenedTitle}... See more";

                            }

                            <div class="media-body">
                            <a href="@Url.Action("OnGetPostPublic", "Post", new { PostId = latestPosts.PostId })">@latestPosts.Title</a>
                            </div>
                            </div>
                            </div>

                            }
                            }
                            else
                            {
                            <p>No posts available.</p>
                            } *@
                        </li>
                    </ul>
                </div>
                <div class="single_sidebar">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Category</a></li>
                        <li role="presentation"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">Video</a></li>
                        <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Comments</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="category">
                            <ul>
                                <li class="cat-item"><a href="#">Sports</a></li>
                                <li class="cat-item"><a href="#">Politics</a></li>
                                <li class="cat-item"><a href="#">Business</a></li>
                                <li class="cat-item"><a href="#">Technology</a></li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="video">
                            <div class="vide_area">
                                <iframe width="100%" height="250" src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="comments">
                            @* <ul class="spost_nav">
                            <li>
                            <div class="media wow fadeInDown">
                            <a href="pages/single_page.html" class="media-left"> <img alt="" src="~/utility/images/post_img1.jpg"> </a>
                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                            </div>
                            </li>

                            </ul> *@
                        </div>
                    </div>
                </div>
                <div class="single_sidebar wow fadeInDown">
                    <h2><span>ADS</span></h2>

                </div>
                <div class="single_sidebar wow fadeInDown">
                    <h2><span>Category Archive</span></h2>
                    <select asp-for="Category" class="catgArchive" asp-items="Html.GetEnumSelectList<eCategory>()">
                        <option selected="selected" disabled value="">Select Category</option>
                    </select>
                </div>
                <div class="single_sidebar wow fadeInDown">
                    <h2><span>Links</span></h2>
                    @* <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Rss Feed</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Life &amp; Style</a></li>
                    </ul> *@
                </div>
                <div class="single_post_content">
                    <h2><span>Ads</span></h2>
                </div>
            </aside>
        </div>
    </div>
</section>
